$bg-color: #E8E8E8;
$main-color: #343434;
$basis-color: #FFFFFF;
$general-color: #A3A3A3;
$minority-color: #828282;
$main-table-color: #F4F4F4;
$minor-color: #FF6B6B;
$secondary-color: #AE5555;
$border-color: #DFDFDF;

$online-color: #3ABA77;
$offline-color: #727171;
$error-color: #FF6B6B;
