@import '../../../../Common/Style/Variable';

ul {
  list-style-type: none;
}

.left-menu {
  width: 320px;
  height: 100%;
  background-color: $main-color;

}

.left-menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 2rem;
  color: $basis-color;
}

.left-menu-title {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}

.left-submenu-title {
  > div {
    padding: 0 2.5rem;
    width: 100%;
    font-size: 1rem;
    color: $basis-color;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 4.8rem;
    i {
      font-size: 2rem;
    }
    span {
      padding-left: 20px;
      font-size: 1.15rem;
    }
    .left-submenu-items {
      height: 0;
    }
  }
}

.left-submenu-items {
  height: 0;
  overflow: hidden;
  padding: 0;
  li {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 7rem;
    width: 100%;
    height: 4.8rem;
    font-size: 1rem;
    color: $basis-color;
    cursor: pointer;
    background-color: $minority-color;
    border-bottom: 2px solid $main-color !important;
  }
}

#item-click {
  background-color: $minor-color;
  .left-submenu-items {
    height: 201px;
    li {
      background-color: $secondary-color;
    }
  }
}

.item-hover {
  &:hover {
    background-color: $general-color;
    .left-submenu-items {
      transition: height 0.4s ease;
      height: 201px;
    }
  }
}

.subitem-click {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 17.3px 10px 0;
  border-color: transparent $bg-color transparent transparent;
}

