.ant-input-search-button {
  color: #343434 !important;
  background-color: #FFFFFF !important;
  border-color: #d9d9d9 !important; }

.ant-btn:hover,
.ant-btn:focus {
  color: #343434 !important;
  border-color: #d9d9d9 !important; }

.ant-table table {
  border-radius: 0 !important; }

.ant-table-row > td {
  text-align: center !important; }

.ant-table-thead > tr > th {
  text-align: center !important;
  color: #FFFFFF !important;
  background-color: #343434 !important; }

.ant-table-tbody {
  margin-top: 1rem; }
  .ant-table-tbody tr:nth-child(odd) {
    background-color: #F4F4F4 !important; }
  .ant-table-tbody > tr > td {
    height: 4rem !important;
    font-size: 16px;
    border-bottom: 1px solid #DFDFDF !important; }

.ant-tag {
  height: 26px !important;
  cursor: default !important;
  padding: 0 12px !important;
  font-size: 16px !important;
  margin: 0 !important; }

.ant-popover-inner-content {
  padding: 2rem !important; }

.edit-region-input {
  width: 80px !important; }

table {
  border-collapse: separate !important; }

thead th:first-of-type {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important; }

thead th:last-of-type {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important; }

table tr:first-of-type td {
  border-top: 8px solid #E8E8E8 !important; }

.ant-pagination-prev {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important; }

.ant-pagination-item,
.ant-pagination-item-1,
.ant-pagination-item-link {
  background-color: #E8E8E8 !important; }
  .ant-pagination-item a,
  .ant-pagination-item-1 a,
  .ant-pagination-item-link a {
    color: #343434 !important; }

.ant-pagination-item-active {
  background-color: #343434 !important; }
  .ant-pagination-item-active a {
    color: #FFFFFF !important; }

.ant-pagination,
.ant-table-pagination {
  display: none !important; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #FFFFFF !important;
  cursor: default;
  background-color: #343434; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  border: 1px solid #CCC !important; }
