.ant-input-search-button {
  color: #343434 !important;
  background-color: #FFFFFF !important;
  border-color: #d9d9d9 !important; }

.ant-btn:hover,
.ant-btn:focus {
  color: #343434 !important;
  border-color: #d9d9d9 !important; }

.ant-table table {
  border-radius: 0 !important; }

.ant-table-row > td {
  text-align: center !important; }

.ant-table-thead > tr > th {
  text-align: center !important;
  color: #FFFFFF !important;
  background-color: #343434 !important; }

.ant-table-tbody {
  margin-top: 1rem; }
  .ant-table-tbody tr:nth-child(odd) {
    background-color: #F4F4F4 !important; }
  .ant-table-tbody > tr > td {
    height: 4rem !important;
    font-size: 16px;
    border-bottom: 1px solid #DFDFDF !important; }

.ant-tag {
  height: 26px !important;
  cursor: default !important;
  padding: 0 12px !important;
  font-size: 16px !important;
  margin: 0 !important; }

.ant-popover-inner-content {
  padding: 2rem !important; }

.edit-region-input {
  width: 80px !important; }

table {
  border-collapse: separate !important; }

thead th:first-of-type {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important; }

thead th:last-of-type {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important; }

table tr:first-of-type td {
  border-top: 8px solid #E8E8E8 !important; }

.ant-pagination-prev {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important; }

.ant-pagination-item,
.ant-pagination-item-1,
.ant-pagination-item-link {
  background-color: #E8E8E8 !important; }
  .ant-pagination-item a,
  .ant-pagination-item-1 a,
  .ant-pagination-item-link a {
    color: #343434 !important; }

.ant-pagination-item-active {
  background-color: #343434 !important; }
  .ant-pagination-item-active a {
    color: #FFFFFF !important; }

.ant-pagination,
.ant-table-pagination {
  display: none !important; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #FFFFFF !important;
  cursor: default;
  background-color: #343434; }

.machine-content {
  width: calc(100% - 320px);
  height: calc(100% - 70px);
  background-color: #E8E8E8; }

.content-toolbar {
  padding: 1rem 2rem;
  width: 100%; }
  .content-toolbar .content-title {
    font-size: 2rem;
    color: #343434;
    margin-bottom: 1rem; }
  .content-toolbar .content-search {
    width: 42%; }

.content-tools {
  display: flex; }
  .content-tools .add-machine-btn,
  .content-tools .advanced-search-btn {
    cursor: pointer; }
  .content-tools .content-tool-item {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    width: 58%; }
    .content-tools .content-tool-item .btn-title {
      padding: 0 1rem;
      font-size: 1.25rem;
      color: #343434; }
  .content-tools i {
    font-size: 1.8rem; }

.content-table {
  padding: 0 2rem; }
  .content-table .table-pagination {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end; }
    .content-table .table-pagination .pagination {
      margin-top: 16px !important; }
      .content-table .table-pagination .pagination a {
        color: #343434;
        border: 1px solid #DFDFDF; }
        .content-table .table-pagination .pagination a:active {
          color: #FFFFFF;
          background-color: #343434; }

.table-item-edit-detail {
  display: flex;
  justify-content: flex-end; }
  .table-item-edit-detail i {
    font-size: 2.25rem;
    cursor: pointer; }

.table-item-edit-setup {
  display: flex;
  justify-content: space-between; }
  .table-item-edit-setup i {
    font-size: 2.25rem;
    cursor: pointer; }

.advanced-search {
  width: 600px; }
  .advanced-search > div {
    display: flex;
    justify-content: flex-end; }
  .advanced-search .search-type-select {
    padding: 1rem 0; }
    .advanced-search .search-type-select > span {
      padding-right: 1.25rem;
      font-size: 1.25rem; }
  .advanced-search .ant-btn {
    margin-left: 14px; }

.device-id-online {
  position: absolute;
  margin: -19px 0 0 -16px;
  width: 4px;
  height: 64px;
  background-color: #3ABA77; }

.device-id-offline {
  position: absolute;
  margin: -19px 0 0 -16px;
  width: 4px;
  height: 64px;
  background-color: #727171; }

.device-id-error {
  position: absolute;
  margin: -19px 0 0 -16px;
  width: 4px;
  height: 64px;
  background-color: #FF6B6B; }
